/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

mx|Label.projectTitle
{
	color: #316f46;
	fontSize: 20;
	fontWeight: bold;	
}

mx|Label.projectTag
{
	color: #316f46;
	fontSize: 12;
	fontWeight: bold;	
}

mx|Label.projectVersion
{
	color: #316f46;
	fontSize: 11;
	fontWeight: bold;	
}

mx|LinkButton.headerButtons {
	selectionColor: #7aa426;
	rollOverColor: #316f46;
	textSelectedColor: #ffffff;
	textRollOverColor: #ffffff;
	color: #316f46;
}

mx|DataGrid.chatLogDataGrid {
	selectionColor: #7aa426;
	textSelectedColor: #ffffff;
	/*	rollOverColor: #7aa426; 316f46 */
}